/* You can add global styles to this file, and also import other style files */

@import 'primeicons/primeicons.css';

body {
  background: linear-gradient(120deg, #f4f6fa 0%, #e0e7ff 100%);
  // min-height: 100vh;
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}
